# 0.Import libraries

In [87]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

# 1. Loading Data

In [88]:
# Define the path to the data files
path = r"C:\Users\Lemlem TH\Desktop\CareerFoundry\Course\Data Immersion\Achievement 6\Agri_food_emission_analysis"

In [89]:
# Load the dataset  as "agri_food_emission"
agri_food_emission = pd.read_csv(os.path.join(path, '02_Data', 'Original data', 'Agrofood_co2_emission.csv'))

In [90]:
# Checking the dataset is correctly loaded
print(agri_food_emission.head())

          Area  Year  Savanna fires  Forest fires  Crop Residues  \
0  Afghanistan  1990        14.7237        0.0557       205.6077
1  Afghanistan  1991        14.7237        0.0557       209.4971
2  Afghanistan  1992        14.7237        0.0557       196.5341
3  Afghanistan  1993        14.7237        0.0557       230.8175
4  Afghanistan  1994        14.7237        0.0557       242.0494

   Rice Cultivation  Drained organic soils (CO2)  Pesticides Manufacturing  \
0            686.00                          0.0                 11.807483
1            678.16                          0.0                 11.712073
2            686.00                          0.0                 11.712073
3            686.00                          0.0                 11.712073
4            705.60                          0.0                 11.712073

   Food Transport  Forestland  ...  Manure Management  Fires in organic soils  \
0         63.1152   -2388.803  ...           319.1763                     0.0
1         61.2125   -2388.803  ...           342.3079                     0.0
2         53.3170   -2388.803  ...           349.1224                     0.0
3         54.3617   -2388.803  ...           352.2947                     0.0
4         53.9874   -2388.803  ...           367.6784                     0.0

   Fires in humid tropical forests  On-farm energy use  Rural population  \
0                              0.0                 NaN         9655167.0
1                              0.0                 NaN        10230490.0
2                              0.0                 NaN        10995568.0
3                              0.0                 NaN        11858090.0
4                              0.0                 NaN        12690115.0

   Urban population  Total Population - Male  Total Population - Female  \
0         2593947.0                5348387.0                  5346409.0
1         2763167.0                5372959.0                  5372208.0
2         2985663.0                6028494.0                  6028939.0
3         3237009.0                7003641.0                  7000119.0
4         3482604.0                7733458.0                  7722096.0

   total_emission  Average Temperature °C
0     2198.963539                0.536167
1     2323.876629                0.020667
2     2356.304229               -0.259583
3     2368.470529                0.101917
4     2500.768729                0.372250

[5 rows x 31 columns]

In [91]:
# Checking the dataset is correctly loaded

print(agri_food_emission.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6965 entries, 0 to 6964
Data columns (total 31 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Area                             6965 non-null   object
 1   Year                             6965 non-null   int64
 2   Savanna fires                    6934 non-null   float64
 3   Forest fires                     6872 non-null   float64
 4   Crop Residues                    5576 non-null   float64
 5   Rice Cultivation                 6965 non-null   float64
 6   Drained organic soils (CO2)      6965 non-null   float64
 7   Pesticides Manufacturing         6965 non-null   float64
 8   Food Transport                   6965 non-null   float64
 9   Forestland                       6472 non-null   float64
 10  Net Forest conversion            6472 non-null   float64
 11  Food Household Consumption       6492 non-null   float64
 12  Food Retail                      6965 non-null   float64
 13  On-farm Electricity Use          6965 non-null   float64
 14  Food Packaging                   6965 non-null   float64
 15  Agrifood Systems Waste Disposal  6965 non-null   float64
 16  Food Processing                  6965 non-null   float64
 17  Fertilizers Manufacturing        6965 non-null   float64
 18  IPPU                             6222 non-null   float64
 19  Manure applied to Soils          6037 non-null   float64
 20  Manure left on Pasture           6965 non-null   float64
 21  Manure Management                6037 non-null   float64
 22  Fires in organic soils           6965 non-null   float64
 23  Fires in humid tropical forests  6810 non-null   float64
 24  On-farm energy use               6009 non-null   float64
 25  Rural population                 6965 non-null   float64
 26  Urban population                 6965 non-null   float64
 27  Total Population - Male          6965 non-null   float64
 28  Total Population - Female        6965 non-null   float64
 29  total_emission                   6965 non-null   float64
 30  Average Temperature °C           6965 non-null   float64
dtypes: float64(29), int64(1), object(1)
memory usage: 1.6+ MB
None

In [92]:
# Checking the dataset is correctly loaded

agri_food_emission.shape

(6965, 31)

In [93]:
# Checking basic statistics 

agri_food_emission.describe()

,Year,Savanna fires,Forest fires,Crop Residues,Rice Cultivation,Drained organic soils (CO2),Pesticides Manufacturing,Food Transport,Forestland,Net Forest conversion,...,Manure Management,Fires in organic soils,Fires in humid tropical forests,On-farm energy use,Rural population,Urban population,Total Population - Male,Total Population - Female,total_emission,Average Temperature °C
count,6965.000000,6934.000000,6872.000000,5576.000000,6965.000000,6965.000000,6965.000000,6965.000000,6472.000000,6.472000e+03,...,6037.000000,6965.000000,6810.000000,6009.000000,6.965000e+03,6.965000e+03,6.965000e+03,6.965000e+03,6.965000e+03,6965.000000
mean,2005.124910,1188.390893,919.302167,998.706309,4259.666673,3503.228636,333.418393,1939.581760,-17828.285678,1.760564e+04,...,2263.344946,1210.315532,668.452931,3008.982252,1.785774e+07,1.693230e+07,1.761963e+07,1.732447e+07,6.409124e+04,0.872989
std,8.894665,5246.287783,3720.078752,3700.345330,17613.825187,15861.445678,1429.159367,5616.748808,81832.210543,1.011575e+05,...,7980.542461,22669.847760,3264.879486,12637.864430,8.901521e+07,6.574362e+07,7.603993e+07,7.251711e+07,2.283130e+05,0.555930
min,1990.000000,0.000000,0.000000,0.000200,0.000000,0.000000,0.000000,0.000100,-797183.079000,0.000000e+00,...,0.432900,0.000000,0.000000,0.031900,0.000000e+00,0.000000e+00,2.500000e+02,2.700000e+02,-3.918841e+05,-1.415833
25%,1997.000000,0.000000,0.000000,11.006525,181.260800,0.000000,6.000000,27.958600,-2848.350000,0.000000e+00,...,37.632100,0.000000,0.000000,13.291900,9.731100e+04,2.173860e+05,2.013260e+05,2.078900e+05,5.221244e+03,0.511333
50%,2005.000000,1.651850,0.517900,103.698200,534.817400,0.000000,13.000000,204.962800,-62.920000,4.444000e+01,...,269.856300,0.000000,0.000000,141.096300,1.595322e+06,2.357581e+06,2.469660e+06,2.444135e+06,1.214765e+04,0.834300
75%,2013.000000,111.081400,64.950775,377.640975,1536.640000,690.408800,116.325487,1207.000900,0.000000,4.701746e+03,...,1126.818900,0.000000,9.577875,1136.925400,8.177340e+06,8.277123e+06,9.075924e+06,9.112588e+06,3.513973e+04,1.206750
max,2020.000000,114616.401100,52227.630600,33490.074100,164915.255600,241025.069600,16459.000000,67945.765000,171121.076000,1.605106e+06,...,70592.646500,991717.543100,51771.256800,248879.176900,9.000991e+08,9.020778e+08,7.435866e+08,7.133419e+08,3.115114e+06,3.558083

In [94]:
# Check counts of unique values in categorical variable
(agri_food_emission['Area'].value_counts(dropna=False))

Area
Afghanistan                        31
Isle of Man                        31
Montserrat                         31
Morocco                            31
Mozambique                         31
                                   ..
Czechoslovakia                      3
Ethiopia PDR                        3
USSR                                2
Yugoslav SFR                        2
Pacific Islands Trust Territory     1
Name: count, Length: 236, dtype: int64

# 2. Data cleaning and consistency checks

## 2.1 Finding missing values

In [95]:
# Finding missing values 
agri_food_emission.isnull().sum()

Area                                  0
Year                                  0
Savanna fires                        31
Forest fires                         93
Crop Residues                      1389
Rice Cultivation                      0
Drained organic soils (CO2)           0
Pesticides Manufacturing              0
Food Transport                        0
Forestland                          493
Net Forest conversion               493
Food Household Consumption          473
Food Retail                           0
On-farm Electricity Use               0
Food Packaging                        0
Agrifood Systems Waste Disposal       0
Food Processing                       0
Fertilizers Manufacturing             0
IPPU                                743
Manure applied to Soils             928
Manure left on Pasture                0
Manure Management                   928
Fires in organic soils                0
Fires in humid tropical forests     155
On-farm energy use                  956
Rural population                      0
Urban population                      0
Total Population - Male               0
Total Population - Female             0
total_emission                        0
Average Temperature °C                0
dtype: int64

## 2.2 Handling missing values

The best alternative is to exclude the missing observation from the data. Because often it is the case that country level information is missing because it was not possible to collect data from the country for various reason, it  could also be that the variable is not relavant in the context of the country. This could only be found out by speaking with people who collected the data. For this execercise the best approach would be to exclude the missing obervation. This may have impact that a country might be completly removed from the dataset, or it could mean a certain country may have a missing value for the a specific year. I would exclude the missing values and continue working with the rest of the data. In spatial anlysis for example this could be indicated by showing a gray area for countries where data was not available.

In [96]:
# Drop observations with missing values
agri_food_emission.dropna(inplace=True)

In [97]:
# Check the shape of the new dataset
agri_food_emission.shape

(4546, 31)

In [98]:
# Check info for the new dataset
print(agri_food_emission.info())

<class 'pandas.core.frame.DataFrame'>
Index: 4546 entries, 31 to 6964
Data columns (total 31 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Area                             4546 non-null   object
 1   Year                             4546 non-null   int64
 2   Savanna fires                    4546 non-null   float64
 3   Forest fires                     4546 non-null   float64
 4   Crop Residues                    4546 non-null   float64
 5   Rice Cultivation                 4546 non-null   float64
 6   Drained organic soils (CO2)      4546 non-null   float64
 7   Pesticides Manufacturing         4546 non-null   float64
 8   Food Transport                   4546 non-null   float64
 9   Forestland                       4546 non-null   float64
 10  Net Forest conversion            4546 non-null   float64
 11  Food Household Consumption       4546 non-null   float64
 12  Food Retail                      4546 non-null   float64
 13  On-farm Electricity Use          4546 non-null   float64
 14  Food Packaging                   4546 non-null   float64
 15  Agrifood Systems Waste Disposal  4546 non-null   float64
 16  Food Processing                  4546 non-null   float64
 17  Fertilizers Manufacturing        4546 non-null   float64
 18  IPPU                             4546 non-null   float64
 19  Manure applied to Soils          4546 non-null   float64
 20  Manure left on Pasture           4546 non-null   float64
 21  Manure Management                4546 non-null   float64
 22  Fires in organic soils           4546 non-null   float64
 23  Fires in humid tropical forests  4546 non-null   float64
 24  On-farm energy use               4546 non-null   float64
 25  Rural population                 4546 non-null   float64
 26  Urban population                 4546 non-null   float64
 27  Total Population - Male          4546 non-null   float64
 28  Total Population - Female        4546 non-null   float64
 29  total_emission                   4546 non-null   float64
 30  Average Temperature °C           4546 non-null   float64
dtypes: float64(29), int64(1), object(1)
memory usage: 1.1+ MB
None

In [99]:
# Check counts of unique values in categorical variables
print(agri_food_emission['Area'].value_counts(dropna=False))

Area
Albania           31
Mali              31
Norway            31
Nigeria           31
Nicaragua         31
                  ..
Sudan              9
USSR               2
Yugoslav SFR       2
Ethiopia PDR       2
Czechoslovakia     2
Name: count, Length: 156, dtype: int64

## 2.3 Finding duplicates

In [100]:
# Finding duplicates 
df_dups= agri_food_emission[agri_food_emission.duplicated()]

In [101]:
df_dups

Empty DataFrame
Columns: [Area, Year, Savanna fires, Forest fires, Crop Residues, Rice Cultivation, Drained organic soils (CO2), Pesticides Manufacturing, Food Transport, Forestland, Net Forest conversion, Food Household Consumption, Food Retail, On-farm Electricity Use, Food Packaging, Agrifood Systems Waste Disposal, Food Processing, Fertilizers Manufacturing, IPPU, Manure applied to Soils, Manure left on Pasture, Manure Management, Fires in organic soils, Fires in humid tropical forests, On-farm energy use, Rural population, Urban population, Total Population - Male, Total Population - Female, total_emission, Average Temperature °C]
Index: []

[0 rows x 31 columns]

## 2.4 Finding mixed type data

In [102]:
for col in agri_food_emission.columns.tolist():
  weird = (agri_food_emission[[col]].applymap(type) != agri_food_emission[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (agri_food_emission[weird]) > 0:
    print (col)

There is no mixed type data

In [104]:
#  Export data as .csv
agri_food_emission.to_csv(os.path.join(path, '02_Data','Prepared Data', 'agri_food_emission.csv'), index=False)